<nav id="menu" class="navbar">
  <div class="container">
    <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a class="home_link" title="Home" href="index.html"><span>Home</span></a></li>
        <li class="dropdown"><a>我的服務方案</a>
          <div class="dropdown-menu">
            <ul>
              <li> <a href="#">使用中的方案<span>&rsaquo;</span></a>
              </li>
              <li> <a href="#">待確認的方案<span>&rsaquo;</span></a>
              </li>
              <li><a href="#">已結束的方案<span>&rsaquo;</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="dropdown"><a href="#">訂單查詢</a>
          <div class="dropdown-menu">
            <ul>
              <li> <a href="#">目前訂單<span>&rsaquo;</span></a>
              </li>
              <li> <a href="#">已發貨訂單<span>&rsaquo;</span></a>
              </li>
              <li><a href="#">已廢棄訂單<span>&rsaquo;</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="custom-link"><a href="#">客戶服務</a></li>
        <li class="custom-link"><a href="#">個人資料</a></li>
        
<!-- 
        <li class="dropdown wrap_custom_block hidden-sm hidden-xs"><a>Custom Block</a>
          <div class="dropdown-menu custom_block">
            <ul>
              <li>
                <table>
                  <tbody>
                    <tr>
                      <td><img alt="" src="image/banner/cms-block.jpg"></td>
                      <td><img alt="" src="image/banner/responsive.jpg"></td>
                      <td><img alt="" src="image/banner/cms-block.jpg"></td>
                    </tr>
                    <tr>
                      <td><h4>CMS Blocks</h4></td>
                      <td><h4>Responsive Template</h4></td>
                      <td><h4>Dedicated Support</h4></td>
                    </tr>
                    <tr>
                      <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                      <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                      <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                    </tr>
                    <tr>
                      <td><strong><a class="btn btn-primary btn-sm" href="#">Read More</a></strong></td>
                      <td><strong><a class="btn btn-primary btn-sm" href="#">Read More</a></strong></td>
                      <td><strong><a class="btn btn-primary btn-sm" href="#">Read More</a></strong></td>
                    </tr>
                  </tbody>
                </table>
              </li>
            </ul>
          </div>
        </li>
        <li class="dropdown"><a href="blog.html">Blog</a>
          <div class="dropdown-menu">
          <ul>
          <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-detail.html">Single Post</a></li>
          </ul>
          </div>
        </li>
        <li class="dropdown"><a>Pages</a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="category.html">Category (Grid/List)</a></li>
              <li><a href="product.html">Product Page</a></li>
              <li><a href="cart.html">Shopping Cart</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="compare.html">Product Compare</a></li>
              <li><a href="wishlist.html">Wishlist</a></li>
              <li><a href="search.html">Search</a></li>
              <li><a href="manufacturer.html">Brands</a></li>
            </ul>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li><a href="elements-forms.html">Forms</a></li>
              <li><a href="careers.html">Careers</a></li>
              <li><a href="faq.html">Faq</a></li>
              <li><a href="404.html">404</a></li>
              <li><a href="sitemap.html">Sitemap</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
              <li><a href="email-template" target="_blank">Email Template Page</a></li>
            </ul>                
            <ul>
          <li><a href="login.html">Login</a></li>
              <li><a href="register.html">Register</a></li>
              <li><a href="my-account.html">My Account</a></li>
              <li><a href="order-history.html">Order History</a></li>
              <li><a href="order-information.html">Order Information</a></li>
              <li><a href="return.html">Return</a></li>
              <li><a href="gift-voucher.html">Gift Voucher</a></li>
          </ul>
          </div>
        </li>
        <li class="contact-link"><a href="contact-us.html">Contact Us</a></li>
        <li class="custom-link-right"><a href="#" target="_blank">Special Offers</a></li> -->

      </ul>
    </div>
  </div>
</nav>