<nav id="menu" class="navbar">
  <div class="container">
    <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <% if current_user%>
        <ul class="nav navbar-nav">
        <li><a class="home_link" title="Home" href="index.html"><span>Home</span></a></li>
        <li class="dropdown"><a>我的服務方案</a>
          <div class="dropdown-menu">
            <ul>
              <li> <a href="#">使用中的方案<span>&rsaquo;</span></a>
              </li>
              <li> <a href="#">待確認的方案<span>&rsaquo;</span></a>
              </li>
              <li><a href="#">已結束的方案<span>&rsaquo;</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="dropdown"><a href="#">訂單查詢</a>
          <div class="dropdown-menu">
            <ul>
              <li> <a href="#">目前訂單<span>&rsaquo;</span></a>
              </li>
              <li> <a href="#">已發貨訂單<span>&rsaquo;</span></a>
              </li>
              <li><a href="#">已廢棄訂單<span>&rsaquo;</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="custom-link"><a href="#">客戶服務</a></li>
        <li class="custom-link">
          <%= link_to "個人資料", my_account_user_path(@user)%>
        </li>
        </ul>
      <%end%>
    </div>
  </div>
</nav>